* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.splitsection {
  z-index: 0;
  position: absolute;
  top: 0vh;
  right: 0%;
  width: 49.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    300deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
}
.stripcontainer {
  transform: rotate(15deg);
}
.row {
  top: -170%;
  left: -5%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding: 20px 0;
  justify-content: space-between;
}
.is {
  color: rgba(66, 66, 66, 0.15);
  transition: 1s;
  margin-right: 50px;
  user-select: none;
  cursor: default;
}
.is:hover {
  transition: 0s;
  color: rgb(229, 229, 229);
}
section .row:nth-child(odd) div {
  animation: animate 100s linear infinite;
  animation-delay: -50s;
}

.stripcontainer:nth-child(odd) .row {
  animation: animate 50s linear infinite;
}

.stripcontainer:nth-child(even) .row {
  animation: animate2 50s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
